<html></html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Bizmark Password Reset</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; width: 100% !important; overflow-x: hidden;} .email-container { width: 100%; max-width: 600px; margin:
      0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px;
      text-align: left; /* Left-align the entire content */ } .logo-container {
      text-align: center; margin-bottom: 20px; } .logo-container img { width:
      200px; background-color:#18253d } h1 { color: #333333; font-size: 24px; text-align: center; /*
      Left-align the heading */ } p { color: #555555; font-size: 16px;
      line-height: 1.5; } .cta-button { display: block; width: 200px; margin:
      20px auto; padding: 10px; background-color: #60aeb3; color: white !important ;
      text-align: center; text-decoration: none; border-radius: 5px; font-size:
      16px; } .footer { margin-top: 30px; text-align: center; font-size: 14px;
      color: #777777; } .footer a { color: #007bff; text-decoration: none; }
      .footer-links { margin-top: 15px; } .footer-links a { margin: 0 10px;
      color: #007bff; text-decoration: none; font-size: 14px; } ul {
      padding-left: 20px; } ul li { font-weight: normal; /* No bold text for
      list items */ }
        .ii a[href] {
          color: #ffffff;
}
       @media only screen and (max-width: 600px) {
        body :{
               overflow-x: hidden;
               margin: 0px 40px;
        }
      .email-container {
        padding: 10px;
        width: 90% ;
        overflow-x: hidden;
      }

      .cta-button {
        width: 90% !important;
      }
    }

    </style>
  </head>
  <body>

    <div class='email-container'>
      <!-- Logo Section -->
      <div class='logo-container'>
        <img
          src='http://localhost:3001/public/uploads/profile/ae46d118-4f42-4472-ba51-fa8dec080f67.png'
          alt='Bizmark Logo'
        />
      </div>

      <!-- Welcome Section -->
      <h1>Password Reset</h1>
      
       <tr>
              <td>Hi {{ data.user}},</td>
            <tr>
      <!--<p style='font-weight:600'>Thank you for signing up! </p>-->
      <p>We have received a request to reset your password changes:  </p>

      <a href={{data.link}} class='cta-button'>Reset Password</a>

      <!-- Next Steps Section -->
      <!--<p>-->
      <!--  Once your email is verified, you’ll be able to Access exclusive content and features-->
      <!--</p>-->
      <p>For any questions about this or to provide feedback please visit our
        Support Centre here.
      </p>
      <p>Thanks!</br> 
      <!--<span style='font-weight: 600;color: black;'>The team </span>-->
</p>

      <!-- Footer Section -->
      <div class='footer'>

        <!-- Footer Links -->
        <div class='footer-links'>
         <a href='https://bizmark.ie/privacy-policy/'>Privacy Policy</a>
        |
        <a href='https://bizmark.ie/terms-conditions/'>Terms of Use</a>
        |
          <a href='https://www.bizmark.com/contact'>Contact Us</a>
        </div>
      </div>
    </div>

  </body>
</html>